{% extends 'auth/base.html' %}

{% block title %} Login {% endblock %}

{% block head %} {% endblock %}

{% block content %}
{% set messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}
<form action="{{ url_for('user.login') }}" method="post">
    <p>
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
    </p>
    <p>
        <label for="pwd">Senha</label>
        <input type="password" name="pwd" id="pwd">
    </p>
    <button type="submit">Login</button>
    <a href="{{ url_for('user.reset_pwd') }}">Esqueceu a senha?</a>
</form>
{% endblock %}
