{% extends "auth/base.html" %}

{% block title %} Nova senha {% endblock %}

{% block head %}
    <style>
        p#pass_warning {
            display: none;
            color: red;
        }
    </style>
{% endblock %}

{% block content %}

<main>
    <div>
        <section class="auth-form">
            <form action="{{ url_for('user.new_pwd')}}" method="post">
                <h1>Nova senha</h1>
                <p>Digite sua nova senha</p>
                <p>
                    <label for="pwd">Nova Senha: </label>
                    <input type="password" name="pwd" id="pwd">
                </p>
                <p>
                    <label for="check_pwd">Repita a nova senha: </label>
                    <input type="password" name="check_pwd" id="check_pwd">
                    <p id="pass_warning">As senhas devem ser iguais!</p>
                </p>
                <button type="submit" id="btn" class="btn btn-primary" disabled>Cadastrar nova senha</button>
            </form>
        </section>
        <p class="text-center" id="portfolio-link">
            Feito por <a class="text-reset" href="https://github.com/felipe-fjs" target="_blank">Felipe Joaquim</a>
        </p>
    </div>
</main>




    <script>
        let password = document.getElementById('pwd');
        let password_check = document.getElementById('check_pwd');
        const pass_warning = document.getElementById('pass_warning');
        function verifyPass() {
            if (password.value !== password_check.value) {
                pass_warning.style.display = 'block';
                btn.disabled = true
            } else {
                pass_warning.style.display = 'none'
                btn.disabled = false
            }
        }
        
        password_check.addEventListener('input',  verifyPass);
    </script>
{% endblock %}