{% extends 'auth/base.html' %}

{% block title %} {% endblock %}

{% block head %} {% endblock %}

{% block content %}
{% set messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}
<form action="{{ url_for('user.signup')}}" method="post">
    <p>
        <label for="name">Nome: </label>
        {{ form.name }}
    </p>
    <p>
        <label for="email">Email:</label>
        {{ form.email }}
    </p>
    <p>
        <label for="wpd">Senha: </label>
        {{ form.pwd }}
    </p>
    <p>
        <label for="check_pwd">Repita a senha: </label>
        {{ form.check_pwd }}
    </p>
    <button type="submit">Cadastrar-se</button>
</form>
{% endblock %}
