{% extends "stock/base.html" %}

{% block title %} Início {% endblock %}

{% block head %} {% endblock %}

{% block content %}
<main>
    <section>
        {% if products|length %}
            <table>
                <thead>
                    <tr>
                        <th scope="col">Cód.</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Total em estoque</th>                    
                    </tr>
                </thead>

                <tbody>
                    {% for product in products %}
                        {{ product }}
                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <th scope="row" colspan="">
                            Total
                        </th>
                        <td></td>
                    </tr>
                </tfoot>
            </table>

        {% else %}

            <div class="alert alert-warning">
                Você não possui produtos em estoque!
            </div>

        {% endif %}
    </section>
</main>
{% endblock %}