{% extends "stock/base.html" %}

{% block title %} Início {% endblock %}

{% block head %} {% endblock %}

{% block content %}
    <section aria-labelledby="stock-information">
        <h1 id="stock-information">INFORMAÇÕES DE ESTOQUE</h1>
        <section id="info-background">
            <div class="info-box">
                <span class="info-title">Total em estoque</span>
                <span class="info-value">R$ {{ total }}</span>
            </div>
            <div class="info-box">
                <span class="info-title">Produtos em estoque</span>
                <span class="info-value">{{ total_produtos }} {% if total_produtos > 1 %} produtos {% else %} produtos {% endif %}</span>
            </div>
            <div class="info-box desktop">
                <span class="info-title">Produtos vendidos</span>
                <span class="info-value">VALOR</span>
            </div>
            <div class="info-box desktop">
                <span class="info-title">total vendido</span>
                <span class="info-value">VALOR</span>
            </div>
        </section>
    </section>
    <section class="table-background">
        {% if products|length %}
        <table>
            <thead>
                <tr>
                    <th scope="col">Cód.</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Quantidade</th>
                </tr>
            </thead>

            <tbody>
                {% for product in products %}
                <tr onclick="window.location.href = `{{ url_for('stock.get_product', id=product.id)}}`">
                    <td>{{product.cod}}</td>
                    <td>{{product.desc}}</td>
                    <td>R$ {{product.preco}}</td>
                    <td>{{product.quant}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}

        <div class="alert alert-warning">
            Você não possui produtos em estoque!
        </div>

        {% endif %}
    </section>

{% endblock %}