{% extends "stock/base.html" %}

{% block title %} Novo produto {% endblock %}

{% block head %} {% endblock %}

{% block content %}
<section aria-describedby="form-title" id="back-new-product">
    
        {% set messages = get_flashed_messages() %}
        {% if messages %}
            <section class="alert alert-warning">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </section>
        {% endif %}
    
        <section class="section-form">
            <form action="{{ url_for('stock.new_product')}}" method="post">
                {{ form.csrf_token }}
                <h1 id="form-title">Novo produto</h1>
                <p>
                    <label for="cod">Código presente na nota fiscal:</label>
                    {{ form.cod }}
                </p>
                <p>
                    <label for="desc">Descrição do produtos</label>
                    {{ form.desc }}
                </p>
                <p>
                    <label for="preco">Preço por unidade:</label>
                    {{ form.preco(step='0.01') }}
                </p>
                <p>
                    <label for="quant">Quantidade do produto:</label>
                    {{ form.quant }}
                </p>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <button type="reset" class="btn btn-secondary">Limpar</button>
            </form>
        </section>
</section>

{% endblock %}