{% extends "stock/base.html" %}

{% block title %} Início {% endblock %}

{% block head %} {% endblock %}

{% block content %}
    <section id="info-section" aria-labelledby="stock-information">
        <h1 id="stock-information">INFORMAÇÕES DE ESTOQUE</h1>
        <section id="info-background">
            <div id="info-phone">
                <div class="info-box">
                    <span class="info-title">Total em estoque</span>
                    <span class="info-value">R$ {{ total }}</span>
                </div>
                <div class="info-box">
                    <span class="info-title">Produtos em estoque</span>
                    <span class="info-value">{{ total_produtos }} {% if total_produtos > 1 %} produtos {% else %} produtos {% endif %}</span>
                </div>
            </div>

            <div id="info-desktop">
                <div class="info-box">
                    <span class="info-title">Produtos vendidos</span>
                    <span class="info-value">VALOR</span>
                </div>
                <div class="info-box">
                    <span class="info-title">total vendido</span>
                    <span class="info-value">VALOR</span>
                </div>
            </div>
        </section>
    </section>
    <section class="table-background">
        {% if products|length %}
        <table>
            <thead>
                <tr>
                    <th scope="col" title="Código">Cód.</th>
                    <th scope="col" title="Descrição">Descrição</th>
                    <th scope="col" title="Categoria do produto">Categoria</th>
                    <th scope="col" title="Preço">Preço</th>
                    <th scope="col" title="Quantidade em estoque">Quantidade</th>
                </tr>
            </thead>

            <tbody>
                {% for product in products %}
                <tr onclick="window.location.href = `{{ url_for('stock.get_product', id=product.id)}}`">
                    <td title="Código do produto">{{product.cod}}</td>
                    <td title="Descrição">{{product.desc[:48]}}...</td>
                    <td title="Categoria do produto">{{product.get_nome_categoria()}}</td>
                    <td title="Preço">R$ {{product.preco}}</td>
                    <td title="Quantidade em estoque">{{product.quant}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}

        <div class="alert alert-warning">
            Você não possui produtos em estoque!
        </div>

        {% endif %}
    </section>

{% endblock %}