{% extends "stock/base.html" %}

{% block title %} Novo produto {% endblock %}

{% block head %} {% endblock %}

{% block content %}
<section aria-describedby="form-title" id="back-new-product">
    
        {% set messages = get_flashed_messages() %}
        {% if messages %}
            <section class="alert alert-warning">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </section>
        {% endif %}
    
        <section class="section-form">
            <form action="{{ url_for('stock.new_product')}}" method="post">
                {{ form.csrf_token }}
                <h1 id="form-title">Novo produto</h1>
                <p>
                    <label for="cod">Código:</label>
                    {{ form.cod(class='input', title='Código do produto') }}
                </p>
                <p>
                    <label for="desc">Descrição:</label>
                    {{ form.desc(class='input', title='Pode ser colocado o nome do produto e suas especificações') }}
                </p>
                <p>
                    <label for="categoria">Categoria</label>
                    <select class="form-control" name="categoria" id="categoria" required>
                        {% for categoria in categorias %}
                            <option value="{{ categoria.id }}">{{ categoria.name }}</option>
                        {% endfor %}
                    </select>
                </p>
                <p>
                    <label for="preco">Preço unidade:</label>
                    {{ form.preco(step='0.01', class='input', title='Preço do produto por unidade') }}
                </p>
                <p>
                    <label for="quant">Quantidade:</label>
                    {{ form.quant(class='input', title='Quantidade do produto em estoque') }}
                </p>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <button type="reset" class="btn btn-secondary">Limpar</button>
            </form>
        </section>
</section>

{% endblock %}