@charset "UTF-8";

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #1E3A5F;
}

header {
    
    padding: 10px 10px;
    /* background-color: rgb(0, 0, 0, 0.75); */
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(153, 153, 153, 0.25));
    border-radius: 0 0 10px 10px;
    color: white;
}
header > span > span#menu-burguer {
    float: right;
    cursor: pointer;
    font-size: 36px;
}

header > span > h1 {
    display: inline;
    color: white;
    font-size: 32px;
}

header > nav {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-in-out;
}
header > nav > a {
    text-decoration: none;
    margin: 7px 0 ;
}
header > nav > a:hover {
    text-decoration: underline white;
}

/* CSS PARA HOME.HTML */
#info-section {
    margin: auto;
    width: 95%;
    color: white;
}

#info-background {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}
#info-phone, #info-desktop {
    display: flex;
    flex-flow: column;

    width: 100%;
    margin: 0;
    padding: 0;
}


.info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 15px;
    border-radius: 10px;
    margin: 10px 0;

    background-color: #4F6D8C;
}


.table-background  {
    margin: 0 auto;
    width: 95%;
    border-radius: 10px;
    background-color: #D9D9D9;
}

table {
    border-collapse: collapse; 
    width: 100%;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f0f2f5;
}

table, th, td {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

td + td, th + th {
    border-left: 1px solid #000;
}

tr + tr td, tr + tr th {
    border-top: 1px solid #000;
} 
tbody > tr {
    cursor: pointer;

    /* transition: background .5s; */
}
tbody > tr:hover {
    background-color: rgba(30, 58, 95, 0.5);
    color: white;
}

/* CSS PARA NEW_PRODUCT.HTML */
#back-new-product {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 10px;

}

.section-form {
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(153, 153, 153, 0.25));
    color: white;
}

.section-form  h1 {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.598);
}

.input {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.479);
    border: 0.5px solid rgba(30, 58, 95, 0.8);
    border-radius: 5px;
    padding: 0 5px;

    transition: box-shadow .5s ease;
}
.input:focus, .input:hover {
    box-shadow: 1px 1px 3px black;
}


/* BREACK POINT PARA TABLET */
@media screen and (min-width: 768px) {
    /* CSS para o header */

    #info-phone, #info-desktop {
        flex-flow: row  wrap;
        justify-content: space-between;
    }
    .info-box {
        width: 45%;
        height: 50px;
        margin: 10px 5px;
        flex-grow: 1;
    }

    .section-form {
        width: 650px;
        transition: width .5s ease;
    }
}

@media screen and (min-width: 1024px) {     
    
    header > span > span#menu-burguer {
        float: left;
    }
    #info-background {
        flex-direction: row;
        justify-content: space-between;
    }
    #info-phone, #info-desktop {
        width: 50%;
        flex-flow: row  wrap;
        justify-content: space-between;
    }
    .info-box {
        width: 45%;
        margin: 10px 5px;
        /* flex-grow: 1; */
    }
}


/* CSS para produtos */
.section-background {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.form-background {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(153, 153, 153, 0.25));
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
}
div#msg-confirm {
    display: none;
    background-color: rgba(128, 128, 128, 0.381);
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.315);
}