{% extends "stock/base.html" %}

{% block title %}Categorias{% endblock %}

{% block head %} {% endblock %}

{% block content %}

<section class="table-background">
    {% if categorias|length %}
    <table>
        <thead>
            <tr>
                <th scope="col" title="Código">Cód.</th>
                <th scope="col" title="Descrição">Descrição</th>
                <th scope="col" title="Preço">Preço</th>
                <th scope="col" title="Quantidade em estoque">Quantidade</th>
            </tr>
        </thead>

        <tbody>
            {% for categoria in categorias %}
            <tr onclick="window.location.href = `{{ url_for('stock.get_categoria', id=categoria.id)}}`">
                <td title="Código do produto">{{categoria.id}}</td>
                <td title="Descrição">{{categoria.name}}...</td>
                <td title="Preço">R$ {{categoria.active}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}

    <div class="alert alert-warning">
        Você não possui categorias cadastradas! <a href="{{ url_for('stock.new_category')}}">Cadastrar categoria</a>
    </div>

    {% endif %}
</section>

{% endblock %}