{% extends "stock/base.html" %}

{% block title %}Categorias{% endblock %}

{% block head %} {% endblock %}

{% block content %}

<section class="table-background">
    {% if categorias|length %}
    <table>
        <thead>
            <tr>
                <th scope="col" title="ID no banco de dados">ID</th>
                <th scope="col" title="Nome da categoria">Nome</th>
                <th scope="col" title="se categoria está ativa">Ativa</th>
            </tr>
        </thead>

        <tbody>
            {% for categoria in categorias %}
            <tr onclick="window.location.href = `{{ url_for('stock.get_categoria', id=categoria.id)}}`">
                <td title="ID da categoria">{{categoria.id}}</td>
                <td title="Nome da categoria">{{categoria.name}}...</td>
                <td title="Se a categoria está ativa ou não">{% if categoria.active %} Ativa {% else %} Desativada {% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}

    <div class="alert alert-warning">
        Você não possui categorias cadastradas! <a href="{{ url_for('stock.new_category')}}">Cadastrar categoria</a>
    </div>

    {% endif %}
</section>

{% endblock %}