{% extends "stock/base.html" %}

{% block title %}categoria.name {% endblock %}

{% block head %} {% endblock %}

{% block content %}
<section aria-labelledby="" class="section-background">
    <section class="section-form">
        <form aria-disabled="true">
            <h1 id="form-title">Categoria</h1>
            <p>
                <label for="name">name:</label>
                <input type="text" class="form-control" id="name" value="{{ categoria.name }}" disabled>
            </p>
            
            <section>
                <a class="text-reset text-decoration-none btn btn-primary" href="{{ url_for('stock.edit_category', id=categoria.id)}}">Editar categoria</a>
            {% if categoria.active %}
                    <button class="btn btn-danger" type="button" onclick="check()">Desativar Categoria</button>
                    <div id="msg-confirm">
                        Deseja confirmar a desativação do produto "{{ categoria.name }}"?
                        <button class="btn btn-secondary" type="button" onclick="check()">Cancelar</button>
                        <a class="text-reset text-decoration-none btn btn-danger" href="{{ url_for('stock.deactivate_cat', id=categoria.id)}}">Confirmar</a>
                    </div>
                </section>
            {% else %}
                <section aria-describedby="msg-confirm">
                    <button type="button" onclick="check()">Ativar produto</button>
                    <div id="msg-confirm">
                        Deseja confirmar a ativação do produto "{{ categoria.name }}..."?
                        <button type="button" onclick="check()">Cancelar</button>
                        <a href="{{ url_for('stock.activate_cat', id=categoria.id)}}">Confirmar REativação do produto</a>
                    </div>
            {% endif %}
            <section aria-describedby="produtos">
                <h2 id="produtos">Produtos dessa categoria</h2>
                {% if produtos|length > 1 %}
                    <table>
                        <thead>
                            <tr>
                                <th>Cód</th>
                                <th>Descrição</th>
                                <th>Valor</th>
                                <th>Quantidade</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for produto in produtos %}
                                <tr>
                                    <td>{{ produto.cod }}</td>
                                    <td>{{ produto.desc }}</td>
                                    <td>{{ produto.get_nome_categoria() }}</td>
                                    <td>R$ {{ produto.valor }}</td>
                                    <td>{{ produto.quant }}</td>
                                    <td>R$ {{ produto.get_total_str() }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>
                {% else %}
                    <div class="alert alert-warning">
                        <p class="fs-4">Não há produtos registrados nessa categoria</p>
                    </div>
                {% endif %}
                
            </section>
        </section>
            </section>
    </section>

    <script>
        const msg = document.getElementById('msg-confirm')
        function check(){
            if (window.getComputedStyle(msg).display == 'none') {
                msg.style.display = 'block'
            } else {
                msg.style.display = 'none'
            }
        }
    </script>
{% endblock %}
